@import "~@fontsource/roboto/index.css";

$font-family-base: Roboto;
$primary: #4080C0;

@import "~bootstrap/scss/bootstrap";

body {
  cursor: default;
  user-select: none;
}

@import "./components/header/header";
@import "./components/main/main";